.tabs-btn {
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  left: calc(50% - 251px/2 + 252.5px);
  background: #FFFFFF;
  border: 1px solid #DFE5EC;
}

.tabs-btn.active {
  background: #2196F3;
  color: #fff;
}